* {
  box-sizing: border-box;
}

:root {
  --purple-100: hsl(257, 33%, 8%);
  --purple-200: hsl(257, 35%, 13%);
  --purple-300: hsl(257, 44%, 18%);
  --purple-400: hsl(262, 58%, 22%);
  --purple-500: hsl(262, 73%, 29%);

  --gray-100: hsl(249, 17%, 12%);
  --gray-200: hsl(249, 29%, 16%);
  --gray-300: hsl(249, 33%, 39%);
  --gray-400: hsl(249, 48%, 64%);
  --gray-500: hsl(249, 81%, 85%);
}

body, #root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--gray-100);
  color: var(--gray-500);
}

a {
  text-decoration: none;
  color: var(--gray-200);
  border-bottom: 1px solid var(--gray-300);
  transition: color ease-in-out 100ms, border-color ease-in-out 100ms;
}

a:hover {
  color: var(--gray-400);
  border-bottom: 1px solid var(--gray-400);
}

.message-channel {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
}

#message-input-form {
  width: calc(100% - 10px);
  display: flex;
  background-color: var(--gray-200);
  color: var(--gray-400);
  padding: 2px;
  margin: 10px 5px;
  padding: 5px;
  font-size: 18px;
  min-height: 18px;
  border-radius: 10px;
}

#message-input {
  flex-grow: 1;
  background: none;
  color: inherit;
  font-size: inherit;
  border: none;
  max-height: 40vh;
  overflow: scroll;
  margin: 3px 0 0 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  user-select: text;
}

#message-input:focus {
  outline: none;
}

#send-button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: inherit;
  transition: color ease-in-out 125ms;
}

#send-button:hover {
  color: var(--gray-500);
}

.content {
  margin: 0;
  margin-left: 20px;
}

pre {
  background-color: var(--purple-100);
}
